.app {
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
}

.app button {
  margin-bottom: 3rem;
  padding: .7rem 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

.app div {
  font-size: 1.2rem;
}

.blue {
  background-color: hsla(235, 100%, 49%, 1)
}
.blue:hover {
  background-color: hsla(235, 100%, 66%, 1);
}

.red {
  background-color: hsla(0, 100%, 43%, 1)
  
}
.red:hover {
  background-color: hsla(0, 100%, 66%, 1);
}
